&flash0 {
	/* Write size set to 4 in samd2x.dtsi but TRM seems to indicate a write page size of 64 B */
	/* write-block-size = <64>; */
	erase-block-size = <256>;

	partitions {
		/delete-node/ code_partition;

		slot0_partition: partition@2000 {
			label = "slot0";
			reg = <0x02000 DT_SIZE_K(116)>;
			read-only;
		};

		slot1_partition: partition@1f000 {
			label = "slot1";
			reg = <0x1f000 DT_SIZE_K(116)>;
			read-only;
		};

	};
};