config LORAWAN_PORT_RELAY_BASE
	hex "LoRaWAN starting port for relay control"
	default 0x80
	range 1 253
	help
	  The starting port number for relay control.

config HAS_PSA_STORAGE_SE
	bool "Use PSA functions for secure element"
