#include <feather-m0-flash-layout.dtsi>
#include <../boards/common/usb/cdc_acm_serial.dtsi>
#include <dt-bindings/gpio/atmel-sam0-gpio.h>

/ {
	chosen {
		zephyr,console = &sercom0;
		zephyr,shell-uart = &sercom0;
		zephyr,code-partition = &slot0_partition;
	};	

	aliases {
		btn0 = &button0;
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&porta 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH | SAM0_GPIO_DEBOUNCE)>;
			label = "Btn A";
		};
	};

};

&tcc0 {
	status = "disabled";
};

&tcc1 {
	status = "disabled";
};

&sercom3 {
	status = "disabled";
};

&sercom0 {
	status = "okay";
};

&adc {
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;
};

&wdog {
	status = "disabled";
};

&rtc {
	status = "disabled";
	counter-mode = "clock";
	prescaler = <1>;
};
