#include <feather-m0-flash-layout.dtsi>
#include <../boards/common/usb/cdc_acm_serial.dtsi>
#include <dt-bindings/gpio/atmel-sam0-gpio.h>

/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};	

	aliases {
		pwm-led = &pwm_led;

		btn0 = &button0;
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_led: pwm_led {
			pwms = <&tcc0 7 PWM_MSEC(5)>;
			label = "PWM Board";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&porta 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH | SAM0_GPIO_DEBOUNCE)>;
			label = "Btn A";
		};
	};

};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	prescaler = <2>;
	#pwm-cells = <2>;

	pinctrl-0 = <&tcc0_pwm_default>;
	pinctrl-names = "default";
};

&tcc1 {
	status = "disabled";
};

&sercom3 {
	status = "disabled";
};

&adc {
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;
};

#include <dt-bindings/pinctrl/samd21-da1gXabcd-pinctrl.h>

&pinctrl {
	tcc0_pwm_default: tcc0_pwm_default {
		group1 {
			pinmux = <PA17F_TCC0_WO7>;
		};
	};
};
